.footer {
background-color: #1F2937;


}
body {
    color:#1F2937;
    display:flex;
    flex:1 ;
}

.header {
    font-size: 24px;
    color:#F9FAF8; 
    background-color: #1F2937;
}

.thunder {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937; 
    font-style: italic;
}

.button  {
background-color: #3882F6;
color: white;
font-size: 36px;
font-weight: bolder;
}

.title {
font-size: 48px;
font-weight: bolder;
color:#F9FAF8;
background-color: #1F2937;
display:flex;
justify-content:left; 
}

ul {
font-size: 18px;
color:#F9FAF8;
background-color: #1F2937;

}

.info {
font-size: 36px;
font-weight: bolder;
color: #1F2937;

}

ul {
display: flex;
flex-direction:row;
flex-wrap: nowrap;
justify-content: end;


}


.secondary {
    color:#F9FAF8;
    background-color: #1F2937;;


}

.bottom {

    background-color: #3882F6;
    color: white;

}